<head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'calculator/main.css' %}">
</head>
{% if latest_question_list %}
    <ul>
        <form action ="{% url 'calculator:calculate'%}" method="post">
        {% csrf_token %}
        {% for question in latest_question_list %}
                <a href = "{% url 'calculator:detail' question.id %}">{{question.question_text}}</a>
                <br>
                <div>
                        <ul class="likert">
                            <li class="likert"> Not Much<input id="rateStart" type="radio" name="{{question.id}}" value="0.1" class="form-radio" />
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.2" class="form-radio"/>
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.3" class="form-radio" />
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.4" class="form-radio" />
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.5" class="form-radio" />
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.6" class="form-radio" />
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.7" class="form-radio" />
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.8" class="form-radio" />
                            <li class="likert"><input type="radio" name="{{question.id}}" value="0.9" class="form-radio" />
                            <li class="likert"><input id="rateEnd" type="radio" name="{{question.id}}" value="1.0" class="form-radio"/>       
                             A Bunch
                        </ul>
                </div>
            <br>
            <br>
            <br>
        {% endfor %}
        <button class="red" type = "submit" value="Calculate">Calculate!</button>
        </form>
    </ul>
{% else %}
    <p>No questions available</p>
{% endif %}

